*{
    margin: 0;
    padding: 0;
}

.wrapper .sidenav{
    position: fixed;
    width: 10vw;
    height: 100vh;
    background: #FE6347;
    padding: 30px;

}

.wrapper .sidenav h1{
    
    color: white;
    margin-bottom: 60px;

}

.wrapper .sidenav ul{
    font-size: 22px;
    line-height: 40px;
    
}
.wrapper .sidenav ul li{
    list-style: none;
    
}
.wrapper .sidenav ul li a{
    text-decoration: none;
    color: white;
    line-height: 20px;
}

.main-content{
    width: 90vw;
    margin-left: 15vw;
    padding: 30px;
}
.main-content .header{
    font-size: 50px;
    margin-bottom: 30px;
    
}
.showcase-container .showcase-header{
    font-size: 30px;
    color: #FE6048;
    margin-bottom: 25px;
}

.main-content .showcase-container .showcase-images-container{
    display: flex;
    flex-direction: row;
    gap: 10px;
    
}
.main-content .showcase-container .showcase-images-container img{
    height: 400px;
    width: 500px;

}
.main-content .showcase-container .showcase-images-container .imges-in-first-row{
    display:flex;
    flex-direction: column;
    gap: 10px;

}

.main-content .showcase-container .showcase-images-container .imges-in-row{
    display:flex;
    flex-direction: column;
    gap: 10px;

}


/* services container styles */
.services-container{
    margin-top: 100px;
}

.services-container h1{
    font-size: 30px;
    color: #FE6048;
    margin-bottom: 25px;
    padding-bottom: 15px;
    border-bottom: 10px solid #FE6048;
    width: 4vw;
    border-radius: 5px;
}
.services-container .sub-title{
    color: #65605D;
    margin-bottom: 10px;

}
.services-container .services-description{
    color: #65605D;

}



/* designer container styles start */
.designers-container{
    margin-top: 100px;
}

.designers-container h1{
    font-size: 30px;
    color: #FE6048;
    margin-bottom: 25px;
    padding-bottom: 15px;
    border-bottom: 10px solid #FE6048;
    width: 4vw;
    border-radius: 5px;
}

.designers-container .sub-title{
    color: #65605D;
    margin-bottom: 10px;

}
.designers-container .designers-description{
    color: #65605D;
    margin-bottom: 10px;
}

.designers-container .designers-person-title{
    color: black;
    margin-bottom: 20px;

}

.designers-container .designers-cards{
    display: flex;
    gap: 15px;
}


.designers-container .designers-cards .card-img{
    width: 300px;
    height: 200px;
    margin-bottom:10px;
}
.designers-container .designers-card .card .about-person{
    background-color: #F1F1F1;
    line-height: 30px;

}
.person-title{
    color: #939393;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 14px;

}

.person-description{
    width: 250px;
    color: #65605D;
    
}

/* designer container styles end*/

/* designer container styles start */
.packages-container{
    margin-top: 100px;
}

.packages-container h1{
    font-size: 30px;
    color: #FE6048;
    margin-bottom: 25px;
    padding-bottom: 15px;
    border-bottom: 10px solid #FE6048;
    width: 4vw;
    border-radius: 5px;
}

.packages-container .sub-title{
    color: #65605D;
    margin-bottom: 10px;

}
